html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: ivory;
    color: #453411;
}

header {
    color: #1a4731;
}

.app {
  display: flex;
  flex-direction: column;
  &__body {
    display: flex;
    flex-direction: row;
    &__board {
      flex: 1;
      margin-right: 20px;
      padding-bottom: 20px;
    }
    &__controls {
      display: flex;
      align-content: center;
      justify-content: space-between;
      flex-direction: column;
      &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .app {
    &__body {
      flex-direction: column-reverse;
      &__board {
        margin-right: 0;
      }
      &__controls {
        flex-direction: row;
        margin-bottom: 20px;
        &__actions {
          margin-left: 14px;
        }
      }
    }
  }
}

#board {
    border: 2px solid #453411;
}

#targets {
    border: 2px solid #453411;
    width: 100%;
    @media (min-width: 576px) {
        width: 150px;
    }
}

.cell {
    padding: 10px;
    background-color: ivory;
    border: 1px solid #563d7c33;
    cursor: pointer;
}

.cell-content {
    text-align: center;
}

.target.selected {
    font-style: italic;
    font-weight: bold;
    padding: 3px;
    border-width: 8px;
    border-style: solid;
}

.target-0.selected {
    border-color: #de751f;
}

.target-1.selected {
    border-color: #f2d024;
}

.target-2.selected {
    border-color: #1f9d55;
}

.target-0 {
    color: #613b1f;
    background-color: #f6993f;
}

.target-1 {
    color: #684f1d;
    background-color: #ffed4a;
}

.target-2 {
    color: #1a4731;
    background-color: #38c172;
}

#verify,
#reset,
#options {
    padding-top: 10px;
}

#verify button,
#reset button,
#options button,
button#back-to-game {
    width: 100%;
    border: #2779bd solid 3px;
    border-radius: 0;
    width: 146px;
    @media screen and (max-width: 576px) {
      width: 130px;
    }
}

#verify button.selected {
    background-color: #f56565;
    color: #9b2c2c;
    border-color: #9b2c2c;
}

#verify button.selected:hover {
    background-color: #9b2c2c;
    color: ivory;
    border-color: #9b2c2c;
}

#verify button:hover,
#reset button:hover,
#options button:hover,
button:hover#back-to-game {
  background-color: #2779bd;
  border: #1c3d5a solid 3px;
  color: ivory;
}

.error {
    border: #e3342f solid 4px;
    color: #cc1f1a;
    padding: 7px;
}

.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active, .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.backdrop {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.options-container {
    position: fixed;
    z-index: 200;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 35px;
    left: 15%;
    top: 25%;
    box-sizing: border-box;

  div {
      padding: 12px;
  }
  
  .options {
      border: #2779bd solid 1px;
      padding: 5px 20px;
  }

  .option-label {
      margin-right: 20px;
  }

  .active-option {
      background-color: #2779bd;
      color: ivory;
  }

  #back-to-game {
      margin-top: 30px;
  }

  button.selected#back-to-game {
      background-color: #2779bd;
      border: #1c3d5a solid 3px;
      color: ivory;
  }
}


@import './row';
