@import "./normalize.css";

html,
body {
    font-family: Roboto, Arial, sans-serif;
    background-color: ivory;
    color: #453411;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 0.75em;
    border: #2779bd solid 3px;
}

button:hover {
    background-color: #2779bd;
    border: #1c3d5a solid 3px;
    color: ivory;
}

#root {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;
    .game {
        display: flex;
        flex-direction: column;
    }
}

header {
    margin: 15px 0;
}

.completed {
    margin-bottom: 15px;
}

header,
.completed {
    font-family: Acme, sans-serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: #1a4731;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    h2 {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
}

.completed {
    h2 {
        display: flex;
        text-align: center;
        span.message {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

@media (min-width: 1200px) {
    #root {
        max-width: 1140px;
    }
}

.app {
    display: flex;
    flex-direction: column;
    &__body {
        display: flex;
        flex-direction: row;
        &__board {
            flex: 1;
            margin-right: 20px;
            padding-bottom: 20px;
        }
        &__controls {
            display: flex;
            align-content: center;
            justify-content: space-between;
            flex-direction: column;
            &__actions {
                display: flex;
                flex-direction: column;
                justify-content: center;
                button {
                    margin-top: 10px;
                    padding: 0.75em;
                    text-transform: uppercase;
                    font-size: 0.85em;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .app {
        &__body {
            flex-direction: column-reverse;
            &__board {
                margin-right: 0;
            }
            &__controls {
                flex-direction: row;
                margin-bottom: 20px;
                &__actions {
                    margin-left: 14px;
                }
            }
        }
    }
}

#board {
    border: 2px solid #453411;
}

#targets {
    border: 2px solid #453411;
    width: 100%;
    @media (min-width: 576px) {
        width: 150px;
    }
}

.cell {
    padding: 10px;
    background-color: ivory;
    border: 1px solid #563d7c33;
    cursor: pointer;
}

.cell-content {
    text-align: center;
}

@import "./_target.scss";

#verify.selected {
    background-color: #f56565;
    color: #9b2c2c;
    border-color: #9b2c2c;
}

#verify.selected:hover {
    background-color: #c53030;
    color: ivory;
    border-color: #742a2a;
}

.error {
    border: #e3342f solid 4px;
    color: #cc1f1a;
    padding: 7px;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.backdrop {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.options-container {
    line-height: 1rem;
    position: fixed;
    z-index: 200;
    background-color: ivory;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    padding: 35px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;

    h3 {
        text-transform: uppercase;
        font-family: Acme, sans-serif;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        color: #1a4731;
        letter-spacing: 0.1rem;
        margin-top: 0;
    }

    .options-wrap {
        display: flex;
        flex-direction: column;
        .option-line {
            display: flex;
            align-items: baseline;
            .option-label {
                flex: 1 1 30%;
            }

            .option-buttons {
                flex: 1 1 70%;
            }
        }
    }

    .option-label {
        margin: 5px 0;
    }
    .option-buttons {
        margin: 5px 0;
        button {
            min-width: 40px;
        }
    }

    .options {
        border: #2779bd solid 1px;
    }

    .active-option {
        background-color: #2779bd;
        color: ivory;
    }

    #back-to-game {
        margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 20px 20px 20px;
        width: 100%;
        left: 0;
        h3 {
            letter-spacing: normal;
        }
    }
}

@import "./_row.scss";
