@import "./normalize.css";
@import "./colors.scss";

html,
body {
    font-family: Roboto, Arial, sans-serif;
    background-color: $back;
    color: $main;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

/* header & completed section */
@import "./header.scss";

/* general button styling */
button {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 0.85em;
    padding: 0.75em;
    border: $btnBorder solid 3px;
}

button:hover {
    background-color: $btnBorder;
    border: $btnBorderDark solid 3px;
    color: $back;
}

@media (min-width: 1200px) {
    #root {
        max-width: 1140px;
    }
}

.game {
    display: flex;
    flex-direction: row;
    .board {
        flex: 1;
        margin-right: 20px;
        padding-bottom: 20px;
    }
    .controls {
        display: flex;
        align-content: center;
        justify-content: space-between;
        flex-direction: column;
        .actions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            button {
                margin-top: 10px;
                padding: 0.75em;
                text-transform: uppercase;
                font-size: 0.85em;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .game {
        flex-direction: column-reverse;
        .board {
            margin-right: 0;
        }
        .controls {
            flex-direction: row;
            margin-bottom: 20px;
            .actions {
                margin-left: 14px;
            }
        }
    }
}

#tiles {
    border: 2px solid $main;
}

.cell {
    padding: 10px;
    background-color: $back;
    border: 1px solid #563d7c33;
    cursor: pointer;
}

.cell-content {
    text-align: center;
}

@import "./targets.scss";

#verify.selected {
    background-color: #f56565;
    color: #9b2c2c;
    border-color: #9b2c2c;
}

#verify.selected:hover {
    background-color: #c53030;
    color: $back;
    border-color: #742a2a;
}

.error {
    border: $errorBorder solid 4px;
    color: $errorColor;
    padding: 7px;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

@import "./options.scss";
@import "./rows.scss";
