$main: #453411;
$back: ivory;
$btnBorder: #2779bd;
$btnBorderDark: #1c3d5a;

$errorBorder: #e3342f;
$errorColor: #cc1f1a;

$target0: #f6993f;
$targetBorder0: #de751f;
$targetColor0: #613b1f;

$target1: #ffed4a;
$targetBorder1: #f2d024;
$targetColor1: #684f1d;

$target2: #38c172;
$targetBorder2: #1f9d55;
$targetColor2: #1a4731;

$target3: #90cdf4;
$targetBorder3: #4299e1;
$targetColor3: #2b6cb0;

$target4: #d6bcfa;
$targetBorder4: #9f7aea;
$targetColor4: #6b46c1;
