header {
    margin: 15px 0;
}

header,
.completed {
    font-family: Acme, sans-serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: #1a4731;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    h2 {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
}

.completed {
    margin-bottom: 15px;
    h2 {
        display: flex;
        text-align: center;
        span.message {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}
