.backdrop {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.options-container {
    line-height: 1rem;
    position: fixed;
    z-index: 200;
    background-color: ivory;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: fit-content;
    padding: 35px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;

    h3 {
        text-transform: uppercase;
        font-family: Acme, sans-serif;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        color: #1a4731;
        letter-spacing: 0.1rem;
        margin-top: 0;
    }

    .options-wrap {
        display: flex;
        flex-direction: column;
        .option-line {
            display: flex;
            align-items: baseline;
            .option-label {
                flex: 1 1 30%;
            }

            .option-buttons {
                flex: 1 1 70%;
            }
        }
    }

    .option-label {
        margin: 5px 0;
    }
    .option-buttons {
        margin: 5px 0;
        button {
            min-width: 40px;
        }
    }

    .options {
        border: #2779bd solid 1px;
    }

    .active-option {
        background-color: #2779bd;
        color: ivory;
    }

    #back-to-game {
        margin-top: 30px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 20px 20px 20px;
        width: 100%;
        left: 0;
        h3 {
            letter-spacing: normal;
        }
    }
}
